@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h2 {
  position: absolute;
  top: 1rem;
}

.range-container {
  position: relative;
}

input[type='range'] {
  width: 30rem;
  margin: 1.8rem 0;
  -webkit-appearance: none;
}

input[type='range'] + label {
  position: absolute;
  top: -2.5rem;
  left: 11rem;
  width: 8rem;
  padding: 0.5rem 0;
  border-radius: 4px;
  text-align: center;
  background-color: #fff;
}

/* Chrome & Safari */

input[type='range']::-webkit-slider-runnable-track {
  background: purple;
  border-radius: 4px;
  width: 100%;
  height: 1rem;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 2.4rem;
  width: 2.4rem;
  background: #fff;
  border-radius: 50%;
  border: 1px solid purple;
  margin-top: -0.7rem;
  cursor: pointer;
}

/* Firefox */
input[type='range']::-moz-range-track {
  background: purple;
  border-radius: 4px;
  width: 100%;
  height: 1.9rem;
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  height: 2.4rem;
  width: 2.4rem;
  background: #fff;
  border-radius: 50%;
  border: 1px solid purple;
  margin-top: -0.7rem;
  cursor: pointer;
}

/* IE */
input[type='range']::-ms-track {
  background: purple;
  border-radius: 4px;
  width: 100%;
  height: 1.8rem;
  cursor: pointer;
}

input[type='range']::-ms-thumb {
  -webkit-appearance: none;
  height: 2.4rem;
  width: 2.4rem;
  background: #fff;
  border-radius: 50%;
  border: 1px solid purple;
  margin-top: -0.7rem;
  cursor: pointer;
}
